{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1 class="page-header text-center">Welcome to Optics</h1>
    <img src="{{ asset('images/bg-mobile-fallback.jpg') }}" alt="Bg">
{% endblock body %}